


.circl1{
 animation: small-big 2s infinite alternate ;
 -webkit-animation: small-big 2s infinite alternate;
}
.circl2{
    animation: small-big2 1.5s infinite alternate ;
    -webkit-animation: small-big2 1.5s infinite alternate ;
}

@keyframes small-big{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    
    }
}

@keyframes small-big2{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.2);
    
    }
}

.rotate-anime{
    animation: rotate 10s infinite linear;
    -webkit-animation: rotate 10s infinite linear;
    max-width: 50px;

}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    
    }
}


/*Text Blink*/
.work-title span{
    font-size: 2rem;
}
.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
    color: black;
  }
  @keyframes blink {
    0%{
      opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }






.shape2{
    animation: blink 2s infinite alternate;
    -webkit-animation: blink 2s infinite alternate;
} 

.shape3{
    animation: blink 2s infinite alternate;
    -webkit-animation: blink 3s infinite alternate;
} 
.shape4{
    animation: blink 2s infinite alternate;
    -webkit-animation: blink 2s infinite alternate;
} 
.shape5{
    animation: blink 2s infinite alternate;
    -webkit-animation: blink 4s infinite alternate;
} 
.shape6{
    animation: blink 2s infinite alternate;
    -webkit-animation: blink 1s infinite alternate;
} 


@keyframes blink{
    0%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
        
    }
}






